<h1>Workouts</h1>
    Exercise Name:<br>
    <input type="text" name="name"></input><br>
    Reps:<br>
    <input type="text" name="reps"></input><br>
    Weight:<br>
    <input type="text" name="weight"></input><br>
    Date (Enter in YYYY-MM-DD format):<br>
    <input type="text" name="date"></input><br>
    Lbs or Kgs? (1 for lbs)<br>
    <input type="text" name="lbs"></input><br>
    <button type="button" id="add-button">Add Workout</button>

<table id="workout-table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Lbs</th>
        </tr>
    </thead>
    <tbody>
        {{#each workoutRows}}
        <tr>
            <td><input type="hidden" id="{{this.id}}"><button type="button" value="edit-button" onclick="editRow(this)">edit</button><button type="button" onclick="deleteRow({{this.id}})">delete</button></td>
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.date}}</td>
            <td>{{this.lbs}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>{{results}}</p>
